<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<style>
		tr>th:nth-child(2),
		tr>th:nth-child(3) {
			width: 120px !important;
		}
	</style>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}">
		</div>
	</div>
	<!-- Left navbar-header end -->
	<!-- Page Content -->
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-12">
					<ol class="breadcrumb">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Contacts Table</li>
					</ol>
				</div>
			</div>
			<!-- /row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="white-box">
						<h3 class="box-title m-b-30">Contacts Table</h3>
						<div class="table-responsive">
							<table id="contacts" class="table table-striped">
								<thead>
									<tr>
										<th class="text-center">No.</th>
										<th class="text-right">Time</th>
										<th>Full Name</th>
										<th>Email</th>
										<th class="text-right">Phone</th>
										<th>Title</th>
										<th>Message</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="contact,index:${contacts}">
										<td class="text-center" th:text="${index.index+1}"></td>
										<td class="text-right" th:text="${contact.getCreatedDateTime()}"></td>
										<td th:text="${contact.fullName}"></td>
										<td th:text="${contact.email}"></td>
										<td class="text-right" th:text="${contact.phone}"></td>
										<td th:text="${contact.title}"></td>
										<td th:text="${contact.message}"></td>
										<td>
											<a th:href=" '/processContact/' + ${contact.id}" class="btn"
												th:classappend="${contact.status} ? 'btn-success' : 'btn-warning'"
												th:text="${contact.status} ? 'Processed' : 'New' ">
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
		<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
	</div>
	<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}">
	</div>
	<script>
		$('#contacts').dataTable({
			"columnDefs": [{
				"targets": 6,
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(6)").addClass("selected")
		})
	</script>
</body>

</html>