<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<style>
		#products tr>th:nth-child(1) {
			width: 5% !important;
		}

		#products tr>th:nth-child(2) {
			width: 15% !important;
		}

		#products tr>th:nth-child(3) {
			width: 25% !important;
		}

		#products tr>th:nth-child(4),
		#products tr>th:nth-child(5),
		#products tr>th:nth-child(6) {
			width: 10% !important;
		}
	</style>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<a href="/add-product"
							class="btn btn-danger pull-right btn-rounded btn-outline waves-effect waves-light">
							Add Product
						</a>
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Products Table</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-30">Products Table</h3>
							<div class="table-responsive">
								<table id="products" class="table table-striped">
									<thead>
										<tr>
											<th class="text-center">No.</th>
											<th>Image Product</th>
											<th>Name Product</th>
											<th>Brand</th>
											<th class="text-right">Quantity</th>
											<th class="text-right">Price ($)</th>
											<th>Function</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product,index :${products}">
											<td class="text-center" th:text="${index.index}+1">1</td>
											<td>
												<a th:href="@{${'/product/'+product.name}}">
													<img th:src="${product.featuredImage}" alt="">
												</a>
											</td>
											<td th:text="${product.name}">Iphone 11</td>
											<td th:text="${product.brand.name}">Apple</td>
											<td class="text-right" th:text="${product.quantity}">12</td>
											<td class="text-right" th:text="${product.final_price}">1000</td>
											<td>
												<a th:href="@{/editProduct(id=${product.id})}"
													class="btn btn-outline-warning m-r-5">Edit</a>
												<button th:onclick="'delete_confirm('+${product.id}+');'"
													th:attr="disabled=${(product.orderDetails.size() != 0 || product.quantity>0) ? 'disabled':null}"
													class="btn btn-outline-danger">Delete</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}"></div>
	<script th:inline="javascript">
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(2)").addClass("selected");
			$('#products').dataTable({
				"columnDefs": [{
					"targets": [1, 6],
					"orderable": false
				}]
			});
		});

		function delete_confirm(data_id) {
			swal({
				title: "Are you sure?",
				text: "This product will be permanently deleted!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Yes, delete it!",
				cancelButtonText: "No, cancel!",
				closeOnConfirm: false,
				closeOnCancel: true
			}, function (isConfirm) {
				if (isConfirm) {
					location.href = "/deleteProduct/" + data_id;
				}
			});
		}
		alert_action(/*[[${alert}]]*/)
	</script>
</body>

</html>