<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu icon-arrow-left-circle"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}">
		</div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<button id="add_admin" onclick="location.href='/add-admin'"
							class="btn btn-danger pull-right btn-rounded btn-outline waves-effect waves-light">
							Add Admin
						</button>
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Admins Table</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box row">
							<div class="col-lg-6 form-container">
								<h3 class="box-title m-b-30">Add Admin</h3>
								<form class="form-horizontal" action="/saveAdmin/0" enctype="multipart/form-data"
									th:object="${saveAdmin}" method="post">
									<div class="row">
										<div class="col-12 form-group">
											<label for="username" class="col-md-12">Admin Username</label>
											<div class="col-md-12">
												<input id="username" type="text" class="form-control"
													th:field="*{username}">
											</div>
										</div>
										<div class="col-12 form-group">
											<label for="password" class="col-md-12">Password</label>
											<div class="col-md-12">
												<div class="input-group">
													<input type="password" class="form-control" id="password"
														th:field="*{password}">
													<button type="button" class="input-group-addon" id="basic-addon2"
														onclick="showPass()">
														<i class="fa fa-eye-slash"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="col-12 form-actions">
											<button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
												Save</button>
											<button type="button" onclick="location.href='/adminPage/admins'"
												class="btn btn-default">Cancel</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-lg-6">
								<h3 class="box-title m-b-30">Admins Table</h3>
								<div class="table-responsive">
									<table id="admins" class="table table-striped">
										<thead>
											<tr>
												<th>N.o</th>
												<th>Username</th>
												<th>Password</th>
												<th>Function</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="admin,object :${admins}">
												<td th:text="${object.index+1}">1</td>
												<td th:text="${admin.username}">admin</td>
												<td th:text="${admin.password}">admin</td>
												<td>
													<button th:data-id="${admin.id}" onclick="editAdmin(this)"
														class="btn btn-outline-warning">Edit</button>
													<button th:onclick="'delete_confirm('+${admin.id}+');'"
														class="btn btn-outline-danger">Delete</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}">
	</div>
	<script>
		$('#admins').dataTable({
			"columnDefs": [{
				"targets": 3,
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(1)").addClass("selected")
		})

		function delete_confirm(data_id) {
			let text = "This account will be permanently deleted.";
			$("body").append(`
			<div class="sweet-overlay"></div>
	<div class="sweet-alert showSweetAlert visible">
		<div class="sa-icon sa-warning pulseWarning">
			<span class="sa-body pulseWarningIns"></span>
			<span class="sa-dot pulseWarningIns"></span>
		</div>
		<h2>Are you sure?</h2>
		<p>${text}</p>
		<div class="sa-button-container">
			<div class="sa-confirm-button-container">
				<button onclick='confirm(${data_id})' class="confirm">
					Yes,delete it!
				</button>
			</div>
			<button onclick='cancel()' class="cancel">Cancel</button>
		</div>
	</div>
			`)
		}

		function confirm(id) {
			location.href = "/deleteAdmin/" + id
		}

		function editAdmin(e) {
			let data_id = $(e).attr("data-id")
			if (screen.width <= 991) {
				location.href = `/editAdmin?id=${data_id}`
			} else {
				$.post(`/get/admin/${data_id}`, function (admin) {
					$(".form-container form").attr("action", `/saveAdmin/${admin.id}`);
					$("#username").val(admin.username);
					$("#password").val(admin.password);
				})
			}
		}
	</script>
</body>

</html>