<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<a href="/add-user"
							class="btn btn-info pull-right btn-rounded btn-outline waves-effect waves-light">
							Add Admin
						</a>
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Admins Table</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-30">Admins Table</h3>
							<div class="table-responsive">
								<table id="admins" class="table table-striped">
									<thead>
										<tr>
											<th class="text-center">No.</th>
											<th>Username</th>
											<th>Full Name</th>
											<th class="text-right">Phone</th>
											<th>Email</th>
											<th class="text-right">Date Of Birth</th>
											<th>Address</th>
											<th>Status</th>
											<th>Function</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user,object :${users}">
											<td class="text-center" th:text="${object.index+1}">1</td>
											<td th:text="${user.username}">latuan2710</td>
											<td th:text="${user.fullName}">La Anh Tuan</td>
											<td class="text-right" th:text="${user.phone}">0967843879</td>
											<td th:text="${user.email}">tuan.la.cit19@eiu.edu.vn</td>
											<td class="text-right" th:text="${user.getDate()}">27/10/2001</td>
											<td style="width: 20%;" th:text="${user.address}">89,D12, Phu Tan, Thu Dau
												Mot, Binh Duong</td>
											<td th:text="${!user.status} ? 'Disabled' : 'Active'">user</td>
											<td>
												<a th:href="@{/editUser(id=${user.id})}"
													class="btn btn-outline-warning m-r-5">Edit</a>
												<a th:href="'/disable/'+${user.id}" class="btn"
													th:classappend="${!user.status} ? 'btn-success' : 'btn-danger'"
													th:text="${!user.status} ? 'Active' : 'Disabled' "></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}"></div>

	<script th:inline="javascript">
		$('#admins').dataTable({
			"columnDefs": [{
				"targets": [3, 6, 8],
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(1)").addClass("selected")
		})

		alert_action(/*[[${alert}]]*/)
	</script>
</body>

</html>