<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<style>
		td.details-control>i::before {
			content: "\f105";
			cursor: pointer;
		}

		tr.shown td.details-control>i::before {
			content: "\f107";
			cursor: pointer;
		}

		tr.loading td {
			text-align: center;
		}
	</style>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}">
		</div>
	</div>
	<!-- Left navbar-header end -->
	<!-- Page Content -->
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-12">
					<ol class="breadcrumb">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Orders Table</li>
					</ol>
				</div>
			</div>
			<!-- /row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="white-box">
						<h3 class="box-title m-b-30">Orders Table</h3>
						<div class="table-responsive">
							<table id="orders" class="table table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Created DateTime</th>
										<th>Username</th>
										<th>Total Price</th>
										<th>Function</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order :${orders}" th:order-id="${order.id}">
										<td class="details-control"><i class="fa"></i></td>
										<td th:text="${order.getCreatedDateTime()}">1</td>
										<td th:text="${order.user.username}">Iphone 13 pro max</td>
										<td th:text="${order.totalPrice}">Iphone 13 pro max</td>
										<td><button>Disable</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
		<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
	</div>
	<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}">
	</div>
	<script>
		$("#orders").dataTable({
			"columnDefs": [{
				"targets": [0, 4],
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(4)").addClass("selected")
		})

		$("#orders").on("click", "td.details-control", function () {
			var tr = $(this).closest("tr");
			var row = $("#orders").DataTable().row(tr);
			var order_id = tr.attr("order-id");

			if (row.child.isShown()) {
				tr.toggleClass("shown");
				destroyChild(row);
			} else {
				tr.toggleClass("shown");
				createChild(row, order_id);
			}
		});

		function createChild(row, order_id) {
			// This is the table we'll convert into a DataTable
			var table = $(
				'<table class="child-table display table table-stripped table-dark" width="100%"/>'
			);

			// Display it the child row
			row.child(table).show();

			// Initialise as a DataTable
			$.get(`/orderDetails/orderId/${order_id}`, function (data) {
				table.DataTable({
					searching: false,
					dom: 'rtip',
					data: data,
					columns: [
						{ title: "Product", data: "product.name" },
						{ title: "Quantity", data: "quantity" },
						{ title: "Price", data: "finalPrice" }
					],
				});
			});
		}

		function destroyChild(row) {
			var table = $("table", row.child());
			table.detach();
			table.DataTable().destroy();

			// And then hide the row
			row.child.hide();
		}
	</script>
</body>

</html>