<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu icon-arrow-left-circle"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<a href="/adminPage/add-product"
							class="btn btn-danger pull-right btn-rounded btn-outline waves-effect waves-light">
							Add Product
						</a>
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Products Table</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-30">Products Table</h3>
							<div class="table-responsive">
								<table id="products" class="table table-striped">
									<thead>
										<tr>
											<th>N.o</th>
											<th>Image Product</th>
											<th>NameProduct</th>
											<th>Brand</th>
											<th>Price</th>
											<th>Function</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product,index :${products}">
											<td th:text="${index.index}+1">1</td>
											<td>
												<a th:href="@{${'product/'+product.name}}">
													<img th:src="${product.image}" alt="">
												</a>
											</td>
											<td th:text="${product.name}">Iphone 11</td>
											<td th:text="${product.brand}">Apple</td>
											<td th:text="'$'+${product.final_cost}">$1000</td>
											<td>
												<a th:href="@{/editProduct(id=${product.id})}"
													class="btn btn-outline-warning">Edit</a>
												<a href="javascript:void(0)"
													th:onclick="'delete_confirm('+${product.id}+');'"
													class="btn btn-outline-danger">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}"></div>
	<script>
		$('#products').dataTable({
			"columnDefs": [{
				"targets": [1, 5],
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(3)").addClass("selected")
		})
		function delete_confirm(data_id) {
			let text = "This product will be permanently deleted.";
			$("body").append(`
			<div class="sweet-overlay"></div>
	<div class="sweet-alert showSweetAlert visible">
		<div class="sa-icon sa-warning pulseWarning">
			<span class="sa-body pulseWarningIns"></span>
			<span class="sa-dot pulseWarningIns"></span>
		</div>
		<h2>Are you sure?</h2>
		<p>${text}</p>
		<div class="sa-button-container">
			<div class="sa-confirm-button-container">
				<button onclick='confirm(${data_id})' class="confirm">
					Yes,delete it!
				</button>
			</div>
			<button onclick='cancel()' class="cancel">Cancel</button>
		</div>
	</div>
			`)
		}
		function cancel() {
			$(".sweet-overlay").remove();
			$(".sweet-alert").remove()
		}
		function confirm(id) {
			location.href = "/deleteProduct/" + id
		}
	</script>
</body>

</html>