<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}">
		</div>
	</div>
	<!-- Left navbar-header end -->
	<!-- Page Content -->
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row bg-title">
				<div class="col-12">
					<ol class="breadcrumb">
						<li><a href="#">Dashboard</a></li>
						<li class="active">Brands Table</li>
					</ol>
				</div>
			</div>
			<!-- /row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="white-box row">
						<div class="col-lg-5">
							<form class="form-horizontal" action="/saveBrand?id=0" enctype="multipart/form-data"
								th:object="${brand}" method="post">
								<div class="row">
									<div class="col-12 mb-5">
										<h3 class="box-title">Add Brand</h3>
										<label for="input-file-now">Upload your product image here</label>
										<div class="dropify-wrapper">
											<div class="dropify-message">
												<span class="file-icon"></span>
												<p>Drag and drop a file here or click</p>
											</div>
											<div class="dropify-loader"></div>
											<input name="brandImg" type="file" id="input-file-now" class="dropify">
											<div class="dropify-preview">
												<span class="dropify-render"></span>
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label for="name" class="col-md-12">Brand Name</label>
											<div class="col-md-12">
												<input type="text" id="name" class="form-control" name="productName"
													th:field="*{name}">
											</div>
										</div>
										<div class="form-actions">
											<button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
												Save</button>
											<button type="button" onclick="location.href='/adminPage/brands'"
												class="btn btn-default">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-7">
							<h3 class="box-title m-b-30">Brands Table</h3>
							<div class="table-responsive">
								<table id="brands" class="table table-striped">
									<thead>
										<tr>
											<th>No</th>
											<th>Brand Image</th>
											<th>Brand Name</th>
											<th>Function</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="brand,object :${brands}">
											<td th:text="${object.index+1}">1</td>
											<td>
												<a th:href="@{${'/brand/'+brand.name}}">
													<img th:src="${brand.image}" alt="">
												</a>
											</td>
											<td th:text="${brand.name}">SamSung</td>
											<td>
												<button th:data-id="${brand.id}" onclick="editBrand(this)"
													class="btn btn-outline-warning">Edit</button>
												<button th:onclick="'delete_confirm('+${brand.id}+');'"
													class="btn btn-outline-danger">Delete</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
		<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
	</div>
	<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}">
	</div>
	<script th:inline="javascript">
		$('#brands').dataTable({
			"columnDefs": [{
				"targets": [1, 3],
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(3)").addClass("selected")
		})
		function delete_confirm(data_id) {
			let text = "This brand and the products associated with it will be permanently deleted.";
			$("body").append(`
			<div class="sweet-overlay"></div>
	<div class="sweet-alert showSweetAlert visible">
		<div class="sa-icon sa-warning pulseWarning">
			<span class="sa-body pulseWarningIns"></span>
			<span class="sa-dot pulseWarningIns"></span>
		</div>
		<h2>Are you sure?</h2>
		<p>${text}</p>
		<div class="sa-button-container">
			<div class="sa-confirm-button-container">
				<button onclick='confirm(${data_id})' class="confirm">
					Yes,delete it!
				</button>
			</div>
			<button onclick='cancel()' class="cancel">Cancel</button>
		</div>
	</div>
			`)
		}

		function confirm(id) {
			location.href = "/deleteBrand/" + id
		}
		$("#input-file-now").change(function (event) {
			$(".dropify-render").html(`<img src="` + window.URL.createObjectURL(this.files[0]) + `">`)
			$(".dropify-preview").css("display", "block");
		})

		function editBrand(e) {
			let data_id = $(e).attr("data-id")
			$.post(`/get/brand/${data_id}`, function (brand) {
				$("form").attr("action", `/saveBrand?id=${brand.id}`);
				$("#name").val(brand.name);
				$(".dropify-render").html(`<img src="` + brand.image + `">`)
				$(".dropify-preview").css("display", "block");
			})
		}

		alert_action(/*[[${alert}]]*/)
	</script>
</body>

</html>