<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image(admin)/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image(admin)/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu icon-arrow-left-circle"></i></a></li>
					<li>
						<h4 class="page-title">Data Table</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}">
		</div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<button id="add_admin" target="_blank"
							class="btn btn-danger pull-right btn-rounded btn-outline waves-effect waves-light">
							Add Admin
						</button>
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Admins Table</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-30">Admins Table</h3>
							<div class="table-responsive">
								<table id="admins" class="table table-striped">
									<thead>
										<tr>
											<th>N.o</th>
											<th>Username</th>
											<th>Password</th>
											<th>Function</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="admin,object :${admin}">
											<td th:text="${object.index+1}">1</td>
											<td th:text="${admin.username}">admin</td>
											<td th:text="${admin.password}">admin</td>
											<td>
												<a th:href="@{/editProduct(id=${admin.id})}"
													class="btn btn-warning">Edit</a>
												<a href="javascript:void(0)"
													th:onclick="'delete_confirm('+${admin.id}+');'"
													class="btn btn-danger">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}">
	</div>

	<div class="register_admin d-none">
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<h3 class="box-title m-b-30">Admin Register</h3>
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<form action="/register/admin" method="post">
								<div class="form-group">
									<label for="username">User Name</label>
									<input type="text" class="form-control" id="username" placeholder="Enter Username">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password">
								</div>
								<div class="form-group">
									<label for="confirm_password">Password</label>
									<input type="password" class="form-control" id="confirm_password"
										placeholder="Confirm Password">
								</div>
								<button type="submit"
									class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
							</form>
						</div>
					</div>
					<button class=" close_admin_form"><i class="fa fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>

	<style>
		.register_admin {
			position: fixed;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 9999;
			left: 0;
			right: 0;
		}

		.register_admin .white-box {
			position: relative;
		}

		.register_admin .white-box>button {
			border: 0;
			background-color: rgba(255, 255, 255, 0);
		}

		.register_admin>.row {
			padding-top: 10%;
			margin: 0 10%;
		}

		.register_admin .close_admin_form {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	</style>

	<script>
		$('#admins').dataTable({
			"columnDefs": [{
				"targets": 3,
				"orderable": false
			}]
		});
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(1)").addClass("selected")
		})

		$("#add_admin").click(function () {
			$(".register_admin").toggleClass("d-none");
		})

		$(".close_admin_form").click(function () {
			$(".register_admin").toggleClass("d-none");
		})

		$("#confirm_password").change(function () {
			{
				if ($(this).val() != $("#password").val()) {
					$(this).parent().addClass("has-danger")
					$(this).addClass("form-control-danger")
				} else {
					$(this).parent().removeClass("has-danger")
					$(this).removeClass("form-control-danger")
				}
			}
		})

		function delete_confirm(data_id) {
			let text = "This account will be permanently deleted.";
			$("body").append(`
			<div class="sweet-overlay"></div>
	<div class="sweet-alert showSweetAlert visible">
		<div class="sa-icon sa-warning pulseWarning">
			<span class="sa-body pulseWarningIns"></span>
			<span class="sa-dot pulseWarningIns"></span>
		</div>
		<h2>Are you sure?</h2>
		<p>${text}</p>
		<div class="sa-button-container">
			<div class="sa-confirm-button-container">
				<button onclick='confirm(${data_id})' class="confirm">
					Yes,delete it!
				</button>
			</div>
			<button onclick='cancel()' class="cancel">Cancel</button>
		</div>
	</div>
			`)
		}
		function cancel() {
			$(".sweet-overlay").remove();
			$(".sweet-alert").remove()
		}
		function confirm(id) {
			location.href = "/deleteAdmin/" + id
		}
	</script>
</body>

</html>