<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Product</title>
	<link rel="stylesheet" href="/css/bootstrap_min.css">
	<link rel="stylesheet" href="/css/bootstrap_extension.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/drop.css">

</head>

<body>
	<form class="form-horizontal" th:object="${product}" th:action="@{/submitProduct(id=${product.id})}"
		enctype="multipart/form-data" method="post">
		<div class="row">
			<div class="col-sm-6 ol-md-6 col-xs-12">
				<div class="white-box">
					<h3 class="box-title">Product Image</h3>
					<label for="input-file-now">Upload your product image here</label>
					<div class="dropify-wrapper">
						<div class="dropify-message">
							<span class="file-icon"></span>
							<p>Drag and drop a file here or click</p>
							<p class="dropify-error">Ooops, something wrong appended.</p>
						</div>
						<div class="dropify-loader"></div>
						<div class="dropify-errors-container">
							<ul></ul>
						</div>
						<input name="productImg" type="file" id="input-file-now" class="dropify">
						<div class="dropify-preview">
							<span class="dropify-render">
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 ol-md-6 col-xs-12">
				<div class="white-box">
					<h3 class="box-title m-b-30">Add Product</h3>

					<div class="form-group">
						<label for="productName" class="col-md-12">Product Name</label>
						<div class="col-md-12">
							<input id="productName" th:field="*{name}" type="text" class="form-control"
								name="productName">
						</div>
					</div>
					<div class="form-group">
						<label for="productBrand" class="col-sm-12">Brand</label>
						<div class="col-sm-12">
							<select id="productBrand" th:field="*{brand}" name="productBrand"
								class="custom-select col-12">
								<option th:each="brand:${brands}" th:value="${brand.name}" th:text="${brand.name}">
									SamSung</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="cost" class="col-sm-12">Cost</label>
						<div class="col-md-12">
							<input th:field="*{cost}" class="form-control" type="number" value="1" id="cost">
						</div>
					</div>
					<div class="form-group">
						<label for="quantity" class="col-sm-12">Quantity</label>
						<div class="col-md-12">
							<input th:field="*{quantity}" class="form-control" type="number" value="1" id="quantity">
						</div>
					</div>
					<div class="form-check">
						<label class="custom-control custom-checkbox">
							<input name="sale" type="checkbox" id="sale-check" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Sale</span>
						</label>
					</div>
					<div id="discount-form" class="form-group d-none">
						<label for="discount" class="col-sm-12">Discount</label>
						<div class="col-md-12">
							<input th:field="*{discount}" class="form-control" type="number" id="discount">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-md-12">Description</label>
						<div class="col-md-12">
							<textarea th:field="*{description}" class="form-control" id="description"
								rows="5"></textarea>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-info"> <i class="fa fa-check"></i> Save</button>
						<button type="button" onclick="location.href='/adminPage/products'"
							class="btn btn-default">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script src="/js/jquery_min.js"></script>
	<script th:inline="javascript">
		$("#input-file-now").change(function (event) {
			$(".dropify-render").html(`<img src="` + window.URL.createObjectURL(this.files[0]) + `">`)
			$(".dropify-preview").css("display", "block");
		})
		$("#sale-check").click(function () {
			if (this.checked == true) {
				$("#discount-form").toggleClass("d-none")
			} else[
				$("#discount-form").toggleClass("d-none")
			]
		})
		let product_img = /*[[${product.image}]]*/ 'product_img';
		if (product_img != null) {
			$(".dropify-render").html(`<img src="` + product_img + `">`)
			$(".dropify-preview").css("display", "block");
		}
		let product_brand = /*[[${product.brand}]]*/ 'product_brand';
		console.log(product_brand)
		if (product_brand != null) {
			$("#productBrand option").each(function () {
				if ($(this).val() == product_brand) {
					$(this).attr("selected", true)
				}
			})
		}
		let product_sale = /*[[${product.isSale}]]*/ 'product_sale';
		if(product_sale==true){
			$("#sale-check").click()
		}
	</script>
</body>

</html>