<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<link rel="stylesheet" href="/css/drop.css">
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu icon-arrow-left-circle"></i></a></li>
					<li>
						<h4 class="page-title">Add Product</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Add Admin</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<form class="form-horizontal" th:object="${saveAdmin}"
								th:action="@{'/saveAdmin/'+${saveAdmin.id}}" enctype="multipart/form-data"
								method="post">
								<div class="row">
									<div class="col-12 form-group">
										<label for="username" class="col-md-12">Admin Username</label>
										<div class="col-md-12">
											<input id="username" th:field="*{username}" type="text" class="form-control"
												name="username">
										</div>
									</div>
									<div class="col-12 form-group">
										<label for="password" class="col-md-12">Password</label>
										<div class="col-md-12">
											<div class="input-group">
												<input type="password" class="form-control" id="password"
													th:value="${saveAdmin.getPassword()}" name="password">
												<button type="button" class="input-group-addon" id="basic-addon2"
													onclick="showPass()">
													<i class="fa fa-eye-slash"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col-12 form-actions">
										<button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
											Save</button>
										<button type="button" onclick="location.href='/adminPage/admins'"
											class="btn btn-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}"></div>
	<script th:inline="javascript">
		var user_id = /*[[${message}]]*/ 'default';
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(1)").addClass("selected")
		})
	</script>
</body>

</html>