<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin/adminPage(users) :: head}">
</head>

<body>
	<div id="wrapper">
		<!-- Top Navigation -->
		<nav class="navbar navbar-default navbar-static-top m-b-0">
			<div class="navbar-header">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse">
					<i class="ti-menu"></i>
				</a>
				<div class="top-left-part">
					<a class="logo" href="/">
						<b>
							<img src="/image/eliteadmin_logo.png" alt="home" class="dark-logo" />
						</b>
						<span class="hidden-xs">
							<img src="/image/logo_text.png" alt="home" class="dark-logo" />
						</span>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs align-items-center">
					<li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
								class="ti-menu"></i></a></li>
					<li>
						<h4 class="page-title">Add User</h4>
					</li>
				</ul>
			</div>
			<!-- /.navbar-header -->
			<!-- /.navbar-top-links -->
			<!-- /.navbar-static-side -->
		</nav>
		<!-- End Top Navigation -->
		<!-- Left navbar-header -->
		<div th:replace="~{admin/adminPage(users) :: sidebar}"></div>
		<!-- Left navbar-header end -->
		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<div class="row bg-title">
					<div class="col-12">
						<ol class="breadcrumb">
							<li><a href="#">Dashboard</a></li>
							<li class="active">Add User</li>
						</ol>
					</div>
				</div>
				<!-- /row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="white-box">
							<h3 class="box-title m-b-30">Add User</h3>
							<form class="form-horizontal" th:object="${saveUser}" onsubmit="return false;"
								th:action="@{'/saveUser/'+${saveUser.id}}" method="post" id="saveUser">
								<div class="row">
									<div class="col-md-6 col-12 form-group">
										<label for="username" class="col-md-12 required">Username</label>
										<div class="col-md-12">
											<input id="username" th:readonly="${saveUser.id!=0}" th:field="*{username}"
												type="text" class="form-control" name="username" required>
										</div>
									</div>
									<div class="col-md-6 col-12 form-group"
										th:classappend="${saveUser.id != 0} ? 'd-none'">
										<label for="password" class="col-md-12 required">Password</label>
										<div class="col-md-12">
											<div class="input-group">
												<input type="password" class="form-control" id="password"
													th:value="${saveUser.getPassword()}" name="password"
													th:readonly="${saveUser.id!=0}" required>
												<button type="button" class="input-group-addon" id="basic-addon2"
													onclick="showPass()">
													<i class="fa fa-eye-slash"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12 form-group">
										<label for="fullName" class="col-md-12 required">Full Name</label>
										<div class="col-md-12">
											<input id="fullName" th:field="*{fullName}" type="text" class="form-control"
												required>
										</div>
									</div>
									<div class="col-md-6 col-12 form-group">
										<label for="birth" class="col-md-12">Date Of Birth</label>
										<div class="col-md-12">
											<input id="birth" th:value="${saveUser.getDate()}" name="dateOfBirth"
												type="date" class="form-control">
										</div>
									</div>
									<div class="col-md-6 col-12 form-group">
										<label for="phone" class="col-md-12 required">Phone</label>
										<div class="col-md-12">
											<input id="phone" th:field="*{phone}" type="text" class="form-control"
												required onkeydown="return onlyNumbers(event)">
										</div>
									</div>
									<div class="col-md-6 col-12 form-group">
										<label for="email" class="col-md-12 required">Email</label>
										<div class="col-md-12">
											<input id="email" th:field="*{email}" type="email" class="form-control"
												name="email" required>
										</div>
									</div>
									<div class="col-md-6 col-12 form-group">
										<label for="address" class="col-md-12 required">Address</label>
										<div class="col-md-12">
											<input id="address" th:field="*{address}" type="text" class="form-control"
												name="address" required>
										</div>
									</div>

									<div class="col-md-6 col-12 form-group">
										<label for="type" class="col-md-12">Type</label>
										<div class="col-md-12">
											<select class="form-control" id="type" th:field="*{type}">
												<option value="user">User</option>
												<option value="admin">Admin</option>
											</select>
										</div>
									</div>
									<div class="col-12 form-actions">
										<button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
											Save</button>
										<button type="button" onclick="location.href='/adminPage/admins'"
											class="btn btn-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
			<footer class="footer text-center"> 2023 &copy; Tphones Admin brought to you all things</footer>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="~{admin/adminPage(users) :: script-fragment}"></div>
	<script th:inline="javascript">
		$(window).ready(function () {
			$(".wp-side-menu li:nth-child(1)").addClass("selected")
		})

		let orgirinal_email = $("#email").val();
		let orgirinal_phone = $("#phone").val();

		$(`button[type='submit']`).click(async (e) => {
			let username_input = $("#username").val();
			let email_input = $("#email").val();
			let phone_input = $("#phone").val();

			let emailExist = await check(email_input);
			let phoneExist = await check(phone_input);

			let message = "";

			if ($(".form-group:has(#password)").hasClass('d-none')) {

				if (emailExist && email_input !== orgirinal_email)
					message += "Your email already exists!\n"
				if (phoneExist && phone_input !== orgirinal_phone)
					message += "Your phone already exists!\n"

			} else {

				let usernameExist = await check(username_input);


				if (usernameExist)
					message += "Your username already exists!\n";
				if (emailExist)
					message += "Your email already exists!\n"
				if (phoneExist)
					message += "Your phone already exists!\n"

			}

			if (message.length == 0)
				document.getElementById('saveUser').submit();
			else
				swal({
					title: message,
					type: "error"
				});
		});

		async function check(key) {
			const response = await fetch(`check?key=${key}`);
			const data = await response.json();
			return data;
		}

		if ($("#birth").val() == '') {
			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();
			if (month < 10) month = "0" + month;
			if (day < 10) day = "0" + day;
			var today = year + "-" + month + "-" + day;
			document.getElementById('birth').value = today;
		}
	</script>
</body>

</html>