#section-template--14393704251462__1542968933341 {
  background: #f7f7f7 no-repeat scroll center center / cover;
  margin-top: 20px;
  margin-bottom: 0px;
}
#section-template--14393704251462__1542968933341 .hero-slider-content > h2,
#section-template--14393704251462__1542968933341 .hero-slider-content > h4,
#section-template--14393704251462__1542968933341 .hero-slider-content > h1 {
  text-transform: uppercase;
}
#section-template--14393704251462__1542968933341.slider-area {
  min-height: 450px;
}
#block-1542968933341-0 .hero-slider-content .slow-animation1 {
  color: #ffffff;
}
#block-1542968933341-0 .hero-slider-content .slow-animation2 {
  color: #e40046;
}
#block-1542968933341-0 .hero-slider-content .small-text1 {
  color: #ffffff;
}
#block-1542968933341-0 .hero-slider-content .small-text2 {
  color: #ffffff;
}
#block-1542968933341-0 .slider-btn.white-btn2 > a {
  color: #e40046;
  border-color: #e40046;
}
#block-1542968933341-0 .slider-btn.white-btn2 > a:hover {
  color: #e40046;
  background: #ffffff;
  border-color: #ffffff;
}
#block-1542968933341-0 .hero-slider-content > p.small-text1 > span,
#block-1542968933341-0 .hero-slider-content > p.small-text2 > span,
#block-1542968933341-0 .hero-slider-content .slow-animation1 span,
#block-1542968933341-0 .hero-slider-content .slow-animation2 span {
  color: #e40046;
}
#block-1542968933341-1 .hero-slider-content .slow-animation1 {
  color: #ffffff;
}
#block-1542968933341-1 .hero-slider-content .slow-animation2 {
  color: #ffffff;
}
#block-1542968933341-1 .hero-slider-content .small-text1 {
  color: #ffffff;
}
#block-1542968933341-1 .hero-slider-content .small-text2 {
  color: #ffffff;
}
#block-1542968933341-1 .slider-btn.white-btn2 > a {
  color: #e40046;
  border-color: #e40046;
}
#block-1542968933341-1 .slider-btn.white-btn2 > a:hover {
  color: #ffffff;
  background: #e40046;
  border-color: #e40046;
}
#block-1542968933341-1 .hero-slider-content > p.small-text1 > span,
#block-1542968933341-1 .hero-slider-content > p.small-text2 > span,
#block-1542968933341-1 .hero-slider-content .slow-animation1 span,
#block-1542968933341-1 .hero-slider-content .slow-animation2 span {
  color: #e40046;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14393704251462__1542968933341 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #section-template--14393704251462__1542968933341 .single-slide {
    height: 450px;
  }
}
@media (max-width: 767px) {
  #section-template--14393704251462__1542968933341 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #section-template--14393704251462__1542968933341 .single-slide {
    height: 240px;
  }
}
.search-results {
  z-index: 8889;
  list-style-type: none;
  width: 100%;
  margin: 5px 0 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  max-width: 350px;
}

.search-results li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ebebeb;
  overflow: hidden;
}

.search-results.home-two a {
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
}

.search-results li:first-child {
  border-top: none;
}

.search-results .title {
  padding-left: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  display: block;
}

.search-results .title:hover {
  color: #ff6a00;
}
#section-footer-top {
}

@media (min-width: 768px) and (max-width: 991px) {
  #section-footer-top {
  }
}

@media (max-width: 767px) {
  #section-footer-top {
  }
}
#section-footer-copyright {
}

@media (min-width: 768px) and (max-width: 991px) {
  #section-footer-copyright {
  }
}

@media (max-width: 767px) {
  #section-footer-copyright {
  }
}
#section-template--14393704251462__1542010207662 {
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14393704251462__1542010207662 {
  }
}
@media (max-width: 767px) {
  #section-template--14393704251462__1542010207662 {
  }
}

.brand-block-content {
  background: #ffffff;
}
#section-template--14393704251462__1540707274206 {
  margin-top: 30px;
  margin-bottom: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14393704251462__1540707274206 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #section-template--14393704251462__1540707274206 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.logo a {
  max-width: 215px;
}
.logo-sticky a {
  max-width: 215px;
}
.header-top-area.monza-bg {
  background: #c5003c !important;
}
.header-top-menu li > span,
.header-top-left > span,
.header-top-menu > li > a {
  color: #ffffff;
}
.header-top-area.header-style-3 .ht-dropdown > li > a:hover,
.header-top-menu > li a:hover,
.switcher-currency-trigger a:hover:not([href]):not([tabindex]),
.switcher-currency-trigger .currency__item.active a {
  color: #e40046;
}
.header-top-menu > li {
  border-left-color: #ffffff;
}
.header-middle-area.red-ribbon-bg {
  background: #e40046 !important;
}
.header-bottom-area.header-style-3 {
  background: #ffffff;
}
.header-bottom-area.header-style-3 .category-heading {
  background: #ffffff;
}
.header-bottom-area.header-style-3 .category-menu-list,
.header-bottom-area.header-style-3 .category-heading {
  border-color: #e40046;
}
.category-heading > h2:after {
  border-top-color: #ffffff;
}
.header-bottom-area.header-style-3 .category-heading > h2,
.header-bottom-area.header-style-3 .category-heading > h2:before {
  color: #333333;
}
.cat-mega-menu > li > ul > li > a,
.cat-mega-menu > li.cat-mega-title > a,
.category-menu-list > ul > li.rx-parent > a,
.category-menu-list > ul > li > a {
  color: #333333;
}
.category-menu-list > ul > li > a:before {
  border-color: #333333;
}
.header-bottom-area.header-style-3
  .category-menu-list
  > ul
  > li
  > a:hover:before,
.category-menu-list > ul > li:hover > a:before,
.category-menu-list > ul > li.active > a:before {
  background: #e40046;
  border-color: #e40046;
}
.category-menu-list > ul > li > a {
  color: #333333;
}
.header-bottom-area.header-style-3 .cat-dropdown > li > a:hover,
.header-bottom-area.header-style-3 .cat-mega-menu > li > ul > li > a:hover,
.header-bottom-area.header-style-3 .cat-mega-menu > li:hover > a,
.header-bottom-area.header-style-3 .cat-mega-menu > li.cat-mega-title > a:hover,
.header-bottom-area.header-style-3 .category-menu-list > ul > li > a:hover,
.cat-mega-menu > li > ul > li > a:hover,
.category-menu-list > ul li:hover > a,
.category-menu-list > ul > li.active > a {
  color: #e40046;
}
.header-middle-area.header-style-3 .search-categories > form button {
  background: #333333;
  border-bottom-color: #1e1e1e !important;
}
.header-middle-area.header-style-3 .search-categories > form button:hover {
  background: #c5003c;
  border-bottom-color: #c5003c !important;
}
.header-middle-area.header-style-3 .mini-cart > a .cart-total {
  background: #ffffff;
}
.header-middle-area.header-style-3 .checkout > a:hover,
.header-middle-area.header-style-3 .cart-sticker {
  background: #e40046;
}
.header-middle-area.header-style-3 .cart-content a:hover {
  color: #e40046;
}
.header-bottom-area.header-style-3 .main-menu > li > a {
  color: #333333;
}
.header-bottom-area.header-style-3 .dropdown > li:hover > a,
.header-bottom-area.header-style-3 .main-menu > li.active > a,
.header-bottom-area.header-style-3 .main-menu > li:hover > a {
  color: #e40046;
}
.header-style-3 .main-menu li a,
.mega-menu > li > ul > li > a,
.dropdown > li > a {
  color: #444444;
}
.header-style-3 .main-menu li:hover > a,
.header-bottom-area.header-style-3 .mega-menu > li > ul > li > a:hover {
  color: #e40046;
}
.brand-block-content {
  background: #ffffff;
}
#section-template--14393704251462__1540707274206 {
  margin-top: 30px;
  margin-bottom: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14393704251462__1540707274206 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #section-template--14393704251462__1540707274206 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
#section-footer-info {
  background: #e40046 no-repeat scroll center center / cover;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-footer-info {
  }
}
@media (max-width: 767px) {
  #section-footer-info {
  }
}
