@media (min-width: 1170px) and (max-width: 1299px) {
  .categorie-tab-menu > li {
    margin-left: 25px;
  }
  .categorie-tab-menu {
    padding-right: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  .mega-menu.mega-menu-full {
    left: auto;
  }
  .categorie-tab-menu > li {
    margin-left: 25px;
  }
  .categorie-tab-menu {
    padding-right: 80px;
  }
  .list-categories {
    padding: 13px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart-total {
    margin-top: 30px;
  }
  .header-sticky.is-sticky {
    padding-bottom: 12px;
  }
  .view-more {
    margin-top: 10px;
  }
  .list-categories {
    padding: 14px 10px 0;
  }
  .desc-listcategoreis {
    padding-top: 10px;
  }
  .slider-area {
    min-height: 510px;
  }
  .slider-btn.mt-50 {
    margin-top: 30px;
  }
  .featured-and-new-product-tab-menu > ul > li > a {
    padding: 13px 20px;
  }
  .categorie-tab-menu > li {
    margin-left: 25px;
  }
  .categorie-tab-menu {
    padding-right: 80px;
  }
  .mega-menu.mega-menu-full {
    left: auto;
  }
}
@media (max-width: 767px) {
  .cart-total {
    margin-top: 30px;
  }
  .cart-buttons .theme-default-button {
    padding: 8px 20px;
  }
  .search-item-image {
    width: 100%;
  }
  .search-item-content {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  .header-top-left {
    text-align: center;
  }
  .logo a {
    margin: 0 auto;
  }
  .header-style-1 .logo a {
    margin: inherit;
  }
  li.cart-empty-title h5 {
    font-size: 17px;
  }
  .line-border {
    display: none;
  }
  .header-style-3 .search-categories > form input,
  .search-categories > form input {
    border-radius: 3px 0 0 3px;
  }
  .ht-dropdown {
    right: 50%;
    transform: translate(50%);
  }
  .name-categoreis > a {
    font-size: 14px;
  }
  .mt-80 {
    margin-top: 50px;
  }
  .mb-80 {
    margin-bottom: 50px;
  }
  .our-product-area.mt-50 .bestsellerSlide.home-2-product .owl-nav > div {
    margin-top: -100px;
  }
  .single-slider {
    height: 320px;
  }
  .owl-carousel .cate-product-thumb img {
    width: auto;
    margin: 0 auto;
  }
  .categorie-tab-menu {
    text-align: center;
  }
  .categorie-tab-menu > li {
    margin-left: 30px;
  }
  .categorie-tab-menu > li > a {
    line-height: 28px;
  }
  .page-list {
    padding: 10px 0;
  }
  .pagination-product {
    padding-top: 15px;
  }
  .page-list > ul > li.prev,
  .page-list > ul > li.next {
    float: none;
  }
  .toolbar-shorter {
    margin: auto;
  }
  .show-product {
    text-align: center;
    float: none;
  }
  .cart-plus-minus-box {
    padding: 5px 3px;
  }
  .cart-plus-minus {
    width: 50px;
  }
  .single-product-wishlist {
    margin-left: 5px;
  }
  .add-to-cart {
    padding: 0 13px;
    margin-bottom: 10px;
  }
  .add-to-cart i {
    font-size: 22px;
  }
  .add > button > span {
    font-size: 17px;
  }
  .error-text > h1 {
    line-height: 80px;
  }
  .blog-pagination .page-list {
    padding: 10px;
    width: 100%;
  }
  .login-form .button-box > a {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .slider-area .banner-slide {
    padding-bottom: 0;
  }
  .featured-and-new-product-tab-menu > ul > li > a {
    padding: 13px 10px;
  }
  .slider-area.slider-style-4 .banner-slide.mt-30 {
    margin-top: 0 !important;
  }
  .footer-subscribe-form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .newsletter-form button {
    border-radius: 3px;
    margin-top: 15px;
    padding: 8px 15px;
  }
  #mc_embed_signup_scroll {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .cart-plus-minus {
    width: 75px;
  }
  .add-to-cart {
    padding: 0 20px;
  }
  .featured-and-new-product-tab-menu > ul > li > a {
    padding: 13px 7px;
  }
}
@media only screen and (max-width: 479px) {
  .login-form-container {
    padding: 30px 20px;
  }
  .form-action-button .theme-default-button + .theme-default-button,
  .cart-buttons .theme-default-button + .theme-default-button {
    margin-left: 0;
    margin-top: 20px;
  }
  .form-action-button .theme-default-button,
  .cart-buttons .theme-default-button,
  .guest-form-container .theme-default-button {
    float: left;
    width: 100%;
  }
}
/*# sourceMappingURL=/cdn/shop/t/11/assets/theme-responsive.css.map */
