<!DOCTYPE html>
<html lang="en">

<head th:replace="~{user/index.html :: head}">
</head>

<body id="your-shopping-cart" class="template-cart">
    <style>
        table img {
            max-height: 150px;
        }
    </style>
    <div class="wrapper">
        <!-- Header control start -->
        <div id="shopify-section-header-two" class="shopify-section">
            <!--Header Area Start-->
            <header th:replace="~{user/index.html :: header}">
            </header>
            <!--Header Area End-->
        </div>
        <!-- Header control end -->
        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-area breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h1 class="breadmome-name breadcrumbs-title">Your Shopping Cart</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->
        <main>
            <div id="shopify-section-template--14393660637254__main" class="shopify-section">
                <!-- PAGE SECTION START -->
                <div class="Shopping-cart-area mt-80 mb-80">
                    <div class="container">
                        <div th:if="${order!=null && order.orderDetails.size!=0}" class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive mb-40 my-data-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="picaboo-product-remove">Remove</th>
                                                <th class="picaboo-product-thumbnail">Image</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="picaboo-product-price">Price</th>
                                                <th class="picaboo-product-quantity">Quantity</th>
                                                <th class="picaboo-product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="order : ${order.orderDetails}">
                                                <td class="picaboo-product-remove">
                                                    <button th:onclick=" 'removeCart('+ ${order.id}+ ')' ">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="picaboo-product-thumbnail">
                                                    <a th:href="${'/product/'+order.product.name}">
                                                        <img th:src="${order.product.featuredImage}"
                                                            alt="Product title here - red" /></a>
                                                </td>
                                                <td class="picaboo-product-name">
                                                    <a th:href="${'/product/'+order.product.name}">
                                                        [(${order.product.name})]
                                                    </a>
                                                </td>
                                                <td class="picaboo-product-price">
                                                    <span class="amount">
                                                        <span class=money>$[(${order.price})]</span>
                                                    </span>
                                                </td>
                                                <td class="picaboo-product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box quantity"
                                                            th:data-id="${order.product.id}" type="text"
                                                            th:value="${order.quantity}"
                                                            th:quantity-max="${order.product.quantity}"
                                                            onkeyup="typeQuantity(this)">
                                                        <div class="dec qtybutton">
                                                            <i class="ion-ios-arrow-down"></i>
                                                        </div>
                                                        <div class="inc qtybutton">
                                                            <i class="ion-ios-arrow-up"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal">
                                                    <span class=money>$[(${order.finalPrice})]</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5"></td>
                                                <td class="product-subtotal total text-center">
                                                    <span class="money">$[(${order.totalPrice})]</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <div class="cart-buttons text-left">
                                    <a class="default-btn" href="/">Continue Shopping</a>
                                    <button class="default-btn" id="clear-cart">Clear Cart</button>
                                    <input class="default-btn" type="submit" value="Update Cart" id="update-cart" />
                                </div>
                                <div class="cart-buttons">
                                    <a class="default-btn" th:href="${'/shipping/'+order.id}">
                                        Buy now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${order==null || order.orderDetails.size==0}" class="row">
                            <div class="col-lg-12 col-12">
                                <div class="empty-cart-page">
                                    <h2>Shopping Cart</h2>
                                    <h3>Your cart is currently empty.</h3>
                                    <p>Continue browsing <a href="/">here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE SECTION END -->
            </div>

        </main>
        <!--Footer Area Start-->
        <div th:replace="~{user/index.html :: footer-top}">
        </div>
        <footer th:replace="~{user/index.html :: footer}">
        </footer>
        <!--Footer Area End-->
        <script>
            $(".my-data-table").on("click", ".qtybutton", function () {
                let i = $(this);
                s = i.parent().find("input");
                let max = parseInt(s.attr("quantity-max"));
                s = s.val();

                let quantity = 0;
                if (i.hasClass("inc"))
                    quantity = (s < max) ? (parseInt(s) + 1) : max;
                else
                    quantity = (s > 0) ? (parseInt(s) - 1) : 0;

                i.parent().find("input").val(quantity)
            });

            function typeQuantity(e) {
                let input = $(e);

                let quantity = parseInt(input.val());
                let max = parseInt(input.attr("quantity-max"));

                quantity = (quantity < 0 || !quantity) ? 0 : ((quantity > max) ? max : quantity);

                input.val(quantity);
            }

            $('#update-cart').click(() => {
                let postdata = [];
                let list_pro = $('.quantity')
                for (let i = 0; i < list_pro.length; i++) {
                    let object = {
                        productId: $(list_pro[i]).attr('data-id'),
                        quantity: $(list_pro[i]).val()
                    }
                    postdata.push(object);
                }

                $.ajax({
                    type: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: "/update-cart",
                    data: JSON.stringify(postdata), 
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            localStorage.setItem("alert-action", data);
                            location.reload()
                        } else {
                            localStorage.setItem("alert-action", data);
                        }
                    }
                });
            })

            $('#clear-cart').click(() => {
                $.post('/clear-cart', function (data) {
                    if (data) {
                        localStorage.setItem("alert-action", data);
                        location.reload()
                    } else {
                        localStorage.setItem("alert-action", data);
                    }
                })
            })
            alert_action(localStorage.getItem("alert-action"));
        </script>
</body>

</html>