<!DOCTYPE html>
<html lang="en">

<head th:replace="~{user/index.html :: head}">
</head>

<body id="your-shopping-cart" class="template-cart">
    <style>
        table img {
            max-height: 150px;
        }

        table .stt {
            font-weight: bold;
        }
    </style>
    <div class="wrapper">
        <!-- Header control start -->
        <div id="shopify-section-header-two" class="shopify-section">
            <!--Header Area Start-->
            <header th:replace="~{user/index.html :: header}">
            </header>
            <!--Header Area End-->
        </div>
        <!-- Header control end -->
        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-area breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h1 class="breadmome-name breadcrumbs-title">History Cart</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->
        <main>
            <div id="shopify-section-template--14393660637254__main" class="shopify-section">
                <!-- PAGE SECTION START -->
                <div class="Shopping-cart-area mt-80 mb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive mb-40 my-data-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center stt">No.</th>
                                                <th class="picaboo-product-thumbnail">Image</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="picaboo-product-price">Price</th>
                                                <th class="picaboo-product-quantity">Quantity</th>
                                                <th class="picaboo-product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="order,index : ${orderDetails}">
                                                <td class="text-center stt" th:text="${index.index+1}"></td>
                                                <td class="picaboo-product-thumbnail">
                                                    <a th:href="'/product/'+${order.product.name}">
                                                        <img th:src="${order.product.featuredImage}"
                                                            alt="Product title here - red" />
                                                    </a>
                                                </td>
                                                <td class="picaboo-product-name">
                                                    <a th:href="'/product/'+${order.product.name}">
                                                        [(${order.product.name})]
                                                    </a>
                                                </td>
                                                <td class="picaboo-product-price">
                                                    <span class="amount">
                                                        <span class=money>$[(${order.price})]</span>
                                                    </span>
                                                </td>
                                                <td class="picaboo-product-quantity">
                                                    <input class="cart-plus-minus-box quantity" type="text" readonly
                                                        th:value="${order.quantity}">
                                                </td>
                                                <td class="product-subtotal">
                                                    <span class=money>$[(${order.finalPrice})]</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5"></td>
                                                <td class="product-subtotal total text-center">
                                                    <span class="money">$[(${total})]</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE SECTION END -->
            </div>

        </main>
        <!--Footer Area Start-->
        <div th:replace="~{user/index.html :: footer-top}">
        </div>
        <footer th:replace="~{user/index.html :: footer}">
        </footer>
        <!--Footer Area End-->
</body>

</html>