<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="en">
<!--<![endif]-->

<head th:replace="~{user/index.html :: head}">
</head>

<body id="create-account" class="template-register">
	<style>
		.filter-side {
			position: relative;
		}

		.filter-side>form {
			position: sticky;
			top: 100px;
			margin-bottom: 100px;
		}
	</style>
	<div class="wrapper">
		<!-- Header control start -->
		<div id="shopify-section-header-two" class="shopify-section">
			<!--Header Area Start-->
			<header th:replace="~{user/index.html :: header}"></header>
			<!--Header Area End-->
		</div>
		<!-- Header control end -->
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb-area breadcrumbs overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb-content text-center">
								<h1 class="breadmome-name breadcrumbs-title">Products</h1>
								<nav class role="navigation" aria-label="breadcrumbs">
									<ul class="breadcrumb-list">
										<li>
											<a href="/" title="Back to the home page">Home</a>
										</li>
										<li>
											<span>Products</span>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS SETCTION END -->
		<main>
			<div id="shopify-section-template--14393660670022__main" class="shopify-section">
				<!-- Start Shop Page -->
				<div class="shop-area mt-80 mb-80">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-12 filter-side">
								<form class="filter-form storefront-filter" name="testform" id="myform">
									<input type="hidden" name="pageNo">
									<input type="hidden" name="key">
									<aside class="shop-sidebar mb-30">
										<h3 class="wedget-title">Brand Categories</h3>
										<div class="shop-checkbox">
											<ul id="brand-checkbox">
												<li th:each="brand : ${brands}">
													<label th:for="${brand.name}">
														<input type="checkbox" name="brand" th:value="${brand.name}"
															th:id="${brand.name}">
														<span th:text="${brand.name}"></span>
													</label>
												</li>
											</ul>
										</div>
									</aside>
									<aside class="shop-sidebar mb-30">
										<h3 class="wedget-title">Price</h3>
										<div class="shop-checkbox">
											<div class="sidebar-list-style">
												<div class="checkbox-container categories-list sidebar-price-filter">
													<div class="filter-range-from">
														<label for="Filter-Price-2">From</label>
														<span>$</span>
														<input name="minPrice" id="Filter-Price-2" type="number" min="0"
															placeholder="0">
													</div>
													<div class="filter-price-range-to">
														<label for="Filter-Price-2">To</label>
														<span>$</span>
														<input name="maxPrice" id="Filter-Price-2" type="number" min="0"
															placeholder="0">
													</div>
												</div>
												<input class="theme-default-button" type="submit" value="Filter">
											</div>
										</div>
									</aside>
								</form>
							</div>
							<div class="col-md-9 col-12">
								<div th:unless="${products.getContent().size()==0}" class="shop-layout">
									<div class="shop-product">
										<div class="product-grid-view border-0">
											<div class="row">
												<div class="col-lg-4 col-6" th:each="product : ${products}">
													<div class="single-product">
														<div class="product-img">
															<a th:href="'/product/'+${product.name}">
																<img class="first-img" th:src="${product.featuredImage}"
																	alt="image product" loading="lazy">
															</a>
															<div class="badge-wrapper" th:if="${product.discount != 0}">
																<span class="percent-count sticker"
																	th:text="'-'+${product.discount}+'%'">-27%</span>
															</div>
															<div class="product-action">
																<ul>
																	<li>
																		<button
																			th:onclick="'quickAdd('+${product.id}+')'">
																			<span class="cart-title">
																				<i class="fa fa-cart-plus"></i>
																			</span>
																		</button>
																	</li>
																</ul>
															</div>
														</div>
														<div class="product-content">
															<h4>
																<a th:href="'/product/'+${product.name}"
																	th:text="${product.name}"></a>
															</h4>
															<div class="product-price">
																<span class="price">
																	<span class="money"
																		th:text="${product.final_price}+'$'">100.00$</span>
																</span>
																<span class="sale-price" th:if="${product.discount!=0}">
																	<span class="money"
																		th:text="${product.price}+'$'">75.00$</span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<nav class="mt-15">
											<ul class="pagination justify-content-end">
												<li class="page-item page-move"
													th:classappend="${page == 1} ? 'disabled'">
													<button class="page-previous page-link" type="button"
														th:page="${page==1} ? ${page} : ${page-1}"
														tabindex="-1">Previous</button>
												</li>
												<li class="page-item" th:each="index : ${totalPage}"
													th:classappend="${index == page} ? 'active'">
													<button class="page-buttons page-link" type="button"
														th:page="${index}" th:text="${index}">1</button>
												</li>
												<li class="page-item page-move"
													th:classappend="${totalPage.length == page} ? 'disabled'">
													<button class="page-next page-link" type="button"
														th:page="${page==totalPage.length} ? ${page} : ${page+1}"
														tabindex="1">Next</button>
												</li>
											</ul>
										</nav>
									</div>
								</div>
								<div th:if="${products.getContent().size()==0}" class="shop-layout">
									<h2>There are no products available at this time</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Shop Page -->
			</div>
		</main>
		<!--Footer Area Start-->
		<div th:replace="~{user/index.html :: footer-top}"> </div>
		<footer th:replace="~{user/index.html :: footer}"></footer>
		<!--Footer Area End-->
		<script>
			$(window).ready(() => { $('ul.main-menu li:nth-child(2)').addClass("active") })
			$('input[type="checkbox"]').click(function () {
				setTimeout(function () {
					$('form[name="testform"]').submit();
				}, 500);
			});
			$(".pagination").on('click', 'button', (e) => {
				$("input[name='pageNo']").val(parseInt(e.target.getAttribute('page')));
				$('form[name="testform"]').submit();
			});

			let queryString = window.location.search;
			let urlParams = new URLSearchParams(queryString);
			let brands = urlParams.getAll('brand');
			let key = urlParams.get('key');
			let minPrice = urlParams.get('minPrice');
			let maxPrice = urlParams.get('maxPrice');

			if (minPrice != null) $('input[name="minPrice"]').val(minPrice);
			if (maxPrice != null) $('input[name="maxPrice"]').val(maxPrice);
			if (key != null) $('input[name="key"]').val(key);

			document.querySelectorAll("#brand-checkbox input").forEach(ele => {
				if (brands.includes(ele.value)) {
					ele.setAttribute("checked", "true");
				}
			});
			alert_action(localStorage.getItem("alert-action"));
		</script>
</body>

</html>