<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="en">
<!--<![endif]-->

<head th:replace="~{user/index.html :: head}">
</head>

<body id="create-account" class="template-register">
	<div class="wrapper">
		<!-- Header control start -->
		<div id="shopify-section-header-two" class="shopify-section">
			<!--Header Area Start-->
			<header th:replace="~{user/index.html :: header}"></header>
			<!--Header Area End-->
		</div>
		<!-- Header control end -->
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb-area breadcrumbs overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb-content text-center">
								<h1 class="breadmome-name breadcrumbs-title">Create Account</h1>
								<nav class role="navigation" aria-label="breadcrumbs">
									<ul class="breadcrumb-list">
										<li>
											<a href="/" title="Back to the home page">Home</a>
										</li>
										<li>
											<span>Create Account</span>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS SETCTION END -->
		<main>
			<div class="customer-page theme-default-margin">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
							<div class="login">
								<div class="login-form-container">
									<div class="login-text">
										<h2>Create Account</h2>
										<p>Please Register using account detail bellow.</p>
									</div>
									<div class="register-form">
										<form method="post" th:object="${saveUser}" action="/register"
											id="create_customer" onsubmit="return false">
											<div class="errors">
												<ul>
												</ul>
											</div>
											<label class="required" for="username">Username</label>
											<input type="text" id="username" class="input-full" th:field="*{username}"
												required>
											<label class="required" for="password">Password</label>
											<input type="password" id="password" class="input-full"
												th:field="*{password}" required>
											<label for="fullName">Full Name</label>
											<input type="text" id="fullName" class="input-full" th:field="*{fullName}">
											<label for="dateOfBirth">Date Of Birth</label>
											<input type="date" id="dateOfBirth" class="input-full"
												th:field="*{dateOfBirth}">
											<label class="required" for="phone">Phone</label>
											<input type="text" id="phone" class="input-full" th:field="*{phone}"
												required>
											<label class="required" for="email">Email</label>
											<input type="email" name="email" id="email" class="input-full"
												th:field="*{email}" required>
											<label for="address">Address</label>
											<input type="text" name="address" id="address" class="input-full"
												th:field="*{address}" required>
											<div class="form-action-button">
												<button type="submit" class="default-btn">Submit</button>
											</div>
										</form>
										<div class="account-optional-action">
											<a href="/">Return to Store</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--Footer Area Start-->
		<div th:replace="~{user/index.html :: footer-top}"> </div>
		<footer th:replace="~{user/index.html :: footer}"></footer>
		<!--Footer Area End-->
		<script>
			$(`button[type='submit']`).click(async (e) => {
				let username_input = $("#username").val();
				let email_input = $("#email").val();
				let phone_input = $("#phone").val();

				if (username_input === "" || email_input === "" || phone_input === "") {
					Swal.fire({
						icon: 'error',
						title: 'Please fill in all the required fields!'
					});
					return;
				}
				
				res = await fetch(`/check?key=${username_input}`);
				data = await res.json();
				let usernameExist = data;

				res = await fetch(`/check?key=${email_input}`);
				data = await res.json();
				let emailExist = data;

				res = await fetch(`/check?key=${phone_input}`);
				data = await res.json();
				let phoneExist = data;

				let message = "";
				if (usernameExist && emailExist && phoneExist) {
					message = "Your username, email and phone number are existed!"
				} else if (usernameExist && emailExist) {
					message = "Your username and email are existed!"
				} else if (usernameExist && phoneExist) {
					message = "Your username and phone number are existed!"
				} else if (emailExist && phoneExist) {
					message = "Your email and phone number are existed!"
				} else if (usernameExist) {
					message = "Your username is existed!"
				} else if (emailExist) {
					message = "Your email is existed!"
				} else if (phoneExist) {
					message = "Your phone number is existed!"
				} else {
					document.getElementById('create_customer').submit();
				}

				Swal.fire({
					icon: 'error',
					title: message
				})
			});

			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();
			if (month < 10) month = "0" + month;
			if (day < 10) day = "0" + day;
			var today = year + "-" + month + "-" + day;
			document.getElementById('dateOfBirth').value = today;
		</script>
</body>

</html>