<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="en">
<!--<![endif]-->

<head th:replace="~{user/index.html :: head}">
</head>

<body id="create-account" class="template-register">
	<div class="wrapper">
		<!-- Header control start -->
		<div id="shopify-section-header-two" class="shopify-section">
			<!--Header Area Start-->
			<header th:replace="~{user/index.html :: header}"></header>
			<!--Header Area End-->
		</div>
		<!-- Header control end -->
		<div class="breadcrumb-wrapper">
			<div class="breadcrumb-area breadcrumbs overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb-content text-center">
								<h1 class="breadmome-name breadcrumbs-title">Create Account</h1>
								<nav class role="navigation" aria-label="breadcrumbs">
									<ul class="breadcrumb-list">
										<li>
											<a href="/" title="Back to the home page">Home</a>
										</li>
										<li>
											<span>Create Account</span>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS SETCTION END -->
		<main>
			<div class="customer-page theme-default-margin">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
							<div class="login">
								<div class="login-form-container">
									<div class="login-text">
										<h2>Create Account</h2>
										<p>Please Register using account detail bellow.</p>
									</div>
									<div class="register-form">
										<form method="post" th:object="${saveUser}" action="/register"
											id="create_customer" onsubmit="return checkForm();">
											<div class="errors">
												<ul>
												</ul>
											</div>
											<label class="required" for="username">Username</label> 
											<input type="text" id="username" class="input-full" th:field="*{username}"
												required>
											<label class="required" for="password">Password</label>
											<input type="password" id="password" class="input-full"
												th:field="*{password}" required>
											<label for="fullName">Full Name</label>
											<input type="text" id="fullName" class="input-full" th:field="*{fullName}">
											<label for="dateOfBirth">Date Of Birth</label>
											<input type="date" id="dateOfBirth" class="input-full"
												th:field="*{dateOfBirth}">
											<label class="required" for="phone">Phone</label>
											<input type="text" id="phone" class="input-full" th:field="*{phone}">
											<label class="required" for="email">Email</label>
											<input type="email" name="email" id="email" class="input-full"
												th:field="*{email}" required>
											<label for="address">Address</label>
											<input type="text" name="address" id="address" class="input-full"
												th:field="*{address}" required>
											<div class="form-action-button">
												<button type="submit" class="default-btn">Submit</button>
											</div>
										</form>
										<div class="account-optional-action">
											<a href="/">Return to Store</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--Footer Area Start-->
		<div th:replace="~{user/index.html :: footer-top}"> </div>
		<footer th:replace="~{user/index.html :: footer}"></footer>
		<!--Footer Area End-->
		<script>
			/*---------------------------------
				Sticky Menu Active
			-----------------------------------*/

			$(window).on('scroll', function () {
				if ($(this).scrollTop() > 50) {
					$('.header-sticky').addClass("is-sticky");
				}
				else {
					$('.header-sticky').removeClass("is-sticky");
				}
			});
			function checkUsername() {
				let val = $("#username").val();
				$.post("/check/username", { username: val }, function (data) {
					if (data) {
						$(".errors ul").append(`<li class="error-username">Username existed</li>`)
					} else {
						$(".error-username").remove();
					}
				})
			}
			function checkEmail() {
				let val = $("#email").val();
				$.post("/check/email", { email: val }, function (data) {
					if (data) {
						$(".errors ul").append(`<li class="error-email">Email existed</li>`)
					} else {
						$(".error-email").remove();
					}
				})
			}
			function checkPhone() {
				let val = $("#phone").val();
				$.post("/check/phone", { phone: val }, function (data) {
					if (data) {
						$(".errors ul").append(`<li class="error-phone">Phone number existed</li>`)
					} else {
						$(".error-phone").remove();
					}
				})
			}

			$("#username").on("change", checkUsername);
			$("#email").on("change", checkEmail);
			$("#phone").on("change", checkPhone);

			function checkForm() {
				if ($(".errors li").length) {
					return false;
				} else {
					return true;
				}
			}

			var date = new Date();
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();
			if (month < 10) month = "0" + month;
			if (day < 10) day = "0" + day;
			var today = year + "-" + month + "-" + day;
			document.getElementById('dateOfBirth').value = today;
		</script>
</body>

</html>